- name: Get All Changed Files
  uses: jitterbit/get-changed-files@v1
- id: files
  uses: jitterbit/get-changed-files@v1
  with:
    format: 'csv'
- run: |
    mapfile -d ',' -t added_modified_files < <(printf '%s,' '${{ steps.files.outputs.added_modified }}')
    for added_modified_file in "${added_modified_files[@]}"; do
      echo "Changed file: ${added_modified_file}"
    done
